<h1>Burgers!</h1>

<h2>Burgers that are ready to be demolished!</h2>

<ul>
  {{#each burgers}}
  {{#unless eaty}}
  {{> burgers/burger-block eat=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been crushed!</h2>

<ul>
  {{#each burgers}}
  {{#if eaty}}
  {{> burgers/burger-block eat=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Ready to be eaten?</label><br>
    <input type="radio" name="eaty" value="1" checked> Yup!<br>
    <input type="radio" name="eaty" value="0"> Too late!
  </div>

  <button type="submit">Add burger</button>
</form>