li {
    padding: 5px;
    margin: 5px;
    background: #ffece0;
    font-size: 14px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  #h2 {
font-size: 20px;
  }

  #container {
    text-align: center;
  }

  h1 {
    font-size: 40px;
      }

.column {
  gap: 10px;
  border-radius: 5px;
  padding-right: 40px;
  padding-left: 40px;
}